<ion-header>
    <ion-toolbar>
      <ion-title>Todo Details</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="closeModal()">Close</ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-list>
      
      <ion-item>
        <ion-label>Title:</ion-label>
        <ion-input name="title" [(ngModel)]="tododet.title"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Description</ion-label>
        <ion-textarea name="description" [(ngModel)]="tododet.description" required></ion-textarea>
      </ion-item>

      <ion-item>
        <ion-label>Priority</ion-label>
        <ion-select name="priority" [(ngModel)]="tododet.priority" required>
          <ion-select-option value="LOW">Low</ion-select-option>
          <ion-select-option value="MEDIUM">Medium</ion-select-option>
          <ion-select-option value="HIGH">High</ion-select-option>
        </ion-select>
      </ion-item>
      <!-- Add more details as needed -->
    </ion-list>
    <ion-button (click)="updateTododetail()">Update Todo Detail</ion-button>
  </ion-content>
  