<ion-header>
    <ion-toolbar>
      <ion-title>
        Update Todo
      </ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="closeModal()">
          <ion-icon slot="icon-only" name="close"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-list>
      <ion-item>
        <ion-label>New Due Date:</ion-label>
        <ion-input name="due_date" type="date" [(ngModel)]="newDueDate"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>New:</ion-label>
        <ion-input>{{selecteddTodoId}}</ion-input>
      </ion-item>
    </ion-list>
    
    <ion-button (click)="reschedule()">Reschedule</ion-button>
  </ion-content>
  