/* Style for the button */
button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  /* Style for the list of todos */
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  /* Style for each todo item */
  li {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  /* Style for the message when no todos are found */
  p {
    color: #888;
  }
  .overdue {
    background-color: #f8d7da; /* Light red background */
    color: #721c24; /* Dark red text color */
    border: 1px solid #f5c6cb; /* Dark red border */
    padding: 8px;
    margin-bottom: 5px;
    border-radius: 4px;
    font-weight: bold;
    animation: blink-animation 5s infinite alternate; /* Slow blink animation */
  }
  
  @keyframes blink-animation {
    0% {
      opacity: 1; /* Fully visible */
    }
    100% {
      opacity: 0.3; /* Fully transparent */
    }
  }
  
  
  
  
  .high-priority {
    background-color: red;
  }
  
  .medium-priority {
    background-color: yellow;
  }
  
  .low-priority {
    background-color: green;
  }
  

  