<button (click)="openModal()">Add Tod</button>



<h1>hai</h1>





<div *ngIf="todos.length > 0">
  <ul>
    <!-- Loop through todos and display them -->
    <li *ngFor="let todo of todos" [ngClass]="{'overdue': isOverdue(todo)}">
        <span>Title: {{ todo.title }}</span>
        <span>Description: {{ todo.description }}</span>
        <span>Due Date: {{ todo.due_date }}</span>
        <span>Priority: {{ todo.priority }}</span>
        <button *ngIf="todo.id" (click)="gettTodoDetail(todo.id)">View Detail</button>
        <button *ngIf="todo.id" (click)="openModal3(todo)">update</button>
        <button *ngIf="todo.id" (click)="openModal4(todo)">Delete</button>
        <div *ngIf="selectedTodoId === todo.id">
            <p>Selected Todo Detail:</p>
            <p>Title: {{ todo.title }}</p>
            <p>Description: {{ todo.description }}</p>
            <p>Due Date: {{ todo.due_date }}</p>
            <p>Priority: {{ todo.priority }}</p>
            <button *ngIf="todo.id && isOverdue(todo)" (click)="openModal2(todo.id)">schedule</button>
            

          </div>
        
        

        
      </li>
  </ul>
</div>
<div *ngIf="todos.length === 0">
  <p>No todos found.</p>
</div>
